In [5]:
import pandas as pd
import numpy as np
import pyreadstat as st
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm

In [9]:
path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2024 3T\[MT06] Microeconometr√≠a I\Clases\Stata\Archivos Stata-20250107\hsb2.dta"

df, meta = st.read_dta(path)
df.head(1)

     id  female  race  ses  schtyp  prog  read  write  math  science  socst
0  70.0     0.0   4.0  1.0     1.0   1.0  57.0   52.0  41.0     47.0   57.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    float64
 1   female   200 non-null    float64
 2   race     200 non-null    float64
 3   ses      200 non-null    float64
 4   schtyp   200 non-null    float64
 5   prog     200 non-null    float64
 6   read     200 non-null    float64
 7   write    200 non-null    float64
 8   math     200 non-null    float64
 9   science  200 non-null    float64
 10  socst    200 non-null    float64
dtypes: float64(11)
memory usage: 17.3 KB