In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import pyreadstat as st
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2024 3T\[MT06] Microeconometr√≠a I\Trabajo final\CreditoHipotecario.dta"

df, meta = st.read_dta(path)
df.head(1)

,seq,s3,s4,s5,s6,s7,s9,s11,s13,s14,s15,s16,s17,s18,s19a,s19b,s19c,s19d,s20,s23a,s24a,s25a,s26a,s27a,s30a,s30c,s31a,s31c,s32,s33,s34,s35,s39,s40,s41,s42,s43,s44,s45,s46,s47,s48,s49,s50,s51,s52,s53,s54,s55,s56,s57,netw,uria,rtdum,bd,mi,old,vr,school,chval,dnotown,dprop,deny,pi_ratio,black,hse_inc,loan_val,ccred,mcred,pubrec,denpmi,selfemp,married,single,hischl,probunmp,condo
0,2.0,1.0,1.0,1.0,88.0,1.0,1120.0,0.0,5.0,5.0,2.0,1.0,53.0,8.0,NA,NA,NA,NA,1.0,M,0.0,19.0,19.0,0.0,1938.0,2000.0,2241.0,2000.0,939.0,110.0,0.0,30.0,0.0,0.0,34.0,2.0,5.0,0.0,22.1,22.1,3.0,360.0,NA,110.0,2.0,0.0,0.0,N,0.0,1.0,999999.375,92.0,3.9,0.0,1.0,1.0,1.0,0.0,15.0,206.735489,0.0,0.0,0.0,0.221,0.0,0.221,0.8,5.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,3.9,0.0